<div ng-controller="myCtrl">
  <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
  <p>{{ans}}</p>
</div>

<div ng-controller="myCtrl">
  <div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/postform'">
       Add post
    </button>
  </div>
  <p>{{ans}}</p>
</div>   

<mat-accordion>
  <mat-expansion-panel *ngFor = "let post of postData$  | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header> 
    
      by  {{post.author}} <br>
      {{post.body}} 
      <button 
      mat-raised-button color="primary"
      (click)=deletePost(post.id)>
      Delete
   </button>  
   <p></p>
   <button 
   mat-raised-button color="primary"
   [routerLink]="'/postform/'+post.id">
   Edit
 </button>
    
  </mat-expansion-panel>
</mat-accordion>
