
<mat-card>
    <h1>new post</h1>
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="title" [(ngModel)] = "title"
                           name = "title"
                           required
                           #tit = "ngModel">

          <mat-error *ngIf="!(tit.valid || tit.pristine)">
            title is required
          </mat-error>                        
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "author"
                             name = "author"
                             required
                             #auth = "ngModel">
  
            <mat-error *ngIf="!(auth.valid || auth.pristine)">
                autor is required
            </mat-error>                        
          </mat-form-field>

          
        <mat-form-field>
            <input matInput placeholder="body" [(ngModel)] = "body"
                             name = "body"
                             required
                             #bod = "ngModel">
  
            <mat-error *ngIf="!(bod.valid || bod.pristine)">
                body is required
            </mat-error>                        
          </mat-form-field>
  

   
          <button mat-raised-button color="primary" [disabled]="!postForm.form.valid">{{buttonText}}</button>
          <button mat-raised-button [routerLink]="'/posts'" >Cancel</button>
          
      </div>
    </form>
    </mat-card>
